
{% extends 'base.html.twig' %}

{% block title %}
    Welcom page
{% endblock %}

{% block body %}
    <div class="row" style="height:500px;">
        <div class=" col-12 my-auto ">
            <div class="text-center">
                <a href="/person" class="btn btn-primary">User model</a>
                <a href="/product" class="btn btn-primary mt-2 mb-2">Product model</a>
                <a href="/personLikeProduct" class="btn btn-primary">Like model</a>
            </div>
        </div>
    </div>

{% endblock body %}